*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif !important;
  color: #272729 !important;
  font-weight: 500;
  line-height: 1.6;
}
